# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment directories
env/
venv/
.env/

# Ignore log files and other temp files
*.log
*.tmp

# Ignore all videos and fonts (if previously set)
#*.mp4
#*.otf
#*.ttf

# Keep track of the static directory and its content
!static/
!static/video/
!static/video/*.mp4
!static/font/
!static/font/*.otf
!static/font/*.ttf

# If you have specific files or directories you want to ignore within static, add them here
# For example, to ignore a temp directory inside static
# static/temp/
