altgraph==0.17.4
certifi==2024.6.2
charset-normalizer==3.3.2
decorator==4.4.2
ffpyplayer==4.5.1
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
moviepy==1.0.3
numpy==1.24.4
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
proglog==0.1.10
pygame==2.5.2
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
requests==2.32.3
setuptools==70.3.0
tqdm==4.66.4
urllib3==2.2.2
